# Various software service directories
.genie
.idea
.nyc_output
.project
.settings

# Development mode artifacts
/application
/build-ui
/builderConfig.json
/index.js
/artifacts
/node_modules
/tslib.js
/tslint.json
/Types/**/*.js

# Development mode symlinks
/Application
/Browser
/Env
/WS.Core
/Inferno
/View
/I18n

# Temporarily: for compiled tests
/TypesUnit/_chain/**/*.js
/TypesUnit/_collection/Indexer.test.js
/TypesUnit/_collection/ObservableList.test.js
/TypesUnit/_collection/RecordSet.test.js
/TypesUnit/_display/**/*.js
/TypesUnit/_entity/adapter/**/*.test.js
/TypesUnit/_entity/applied/CancelablePromise.test.js
/TypesUnit/_entity/compare/**/*.test.js
/TypesUnit/_entity/applied/Date.test.js
/TypesUnit/_entity/dateParser.test.js
/TypesUnit/_entity/applied/DateTime.test.js
/TypesUnit/_entity/descriptor.test.js
/TypesUnit/_entity/factory.test.js
/TypesUnit/_entity/format/**/*.js
/TypesUnit/_entity/functor/**/*.js
/TypesUnit/_entity/applied/JSONML.test.js
/TypesUnit/_entity/Model.test.js
/TypesUnit/_entity/applied/ReactiveObject.test.js
/TypesUnit/_entity/Record.test.js
/TypesUnit/_entity/applied/Time.test.js
/TypesUnit/_formatter/**/*.js
/TypesUnit/_function/**/*.js
/TypesUnit/_object/**/*.js
/TypesUnit/_shim/**/*.js
/TypesUnit/_source/**/*.js
/TypesUnit/_util/**/*.js
